USE [ProcTest]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](50) NULL,
	[ClientEmail] [nvarchar](50) NULL,
	[ClientPhone] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
 CONSTRAINT [PK_OrderLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate_] [date] NOT NULL,
	[TotalPrice] [float] NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_Items] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Items] ([Id])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_Items]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Orders] FOREIGN KEY([Id])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Orders]
GO
/****** Object:  StoredProcedure [dbo].[GET_ORDER_DETAIL]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_ORDER_DETAIL]
	@ITEMID INT,
	@CLIENTID INT
AS
	EXEC PARTIAL_GET_ITEM_BY_ID @ITEMID 
	EXEC [PARTIAL_GET_CLIENT_BY_ID] @CLIENTID
GO
/****** Object:  StoredProcedure [dbo].[PARTIAL_GET_CLIENT_BY_ID]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PARTIAL_GET_CLIENT_BY_ID]
	@CLIENTID INT
AS
--DECLARE @CLIENTID INT = 1
DECLARE @RESULT INT = 0
DECLARE @IS_CLIENT_EXIST BIT

SELECT @IS_CLIENT_EXIST = CASE WHEN EXISTS(SELECT* FROM Clients WHERE Id=@CLIENTID) THEN 1 ELSE 0 END 

IF(@CLIENTID > 0 AND @IS_CLIENT_EXIST=1)
BEGIN
	SELECT * FROM Clients WHERE Id=@CLIENTID
	SET @RESULT = 1
	SELECT @RESULT AS [RESULT]
END
ELSE
BEGIN 
	SET @RESULT=0
	SELECT @RESULT AS [RESULT],'CARİ BULUNAMADI.' AS [ERROR]
END
GO
/****** Object:  StoredProcedure [dbo].[PARTIAL_GET_ITEM_BY_ID]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PARTIAL_GET_ITEM_BY_ID]
	@ITEMID INT
AS
--DECLARE @ITEMID INT = 1
DECLARE @RESULT INT = 0
DECLARE @IS_ITEM_EXIST BIT

SELECT @IS_ITEM_EXIST = CASE WHEN EXISTS(SELECT* FROM Items WHERE Id=@ITEMID) THEN 1 ELSE 0 END 

IF(@ITEMID > 0 AND @IS_ITEM_EXIST=1)
BEGIN
	SELECT * FROM Items WHERE Id=@ITEMID
	SET @RESULT = 1
	SELECT @RESULT AS [RESULT]
END
ELSE
BEGIN 
	SET @RESULT=0 --ERROR MESAJLARI İLERİDE SPESİFİK OLARAK BELİRTİLEBİLİR. 4 MESAJ KODU ÜRÜN BULUNAMADI GİBİ...
	SELECT @RESULT AS [RESULT],'ÜRÜN BULUNAMADI.' AS [ERROR]
END
GO
/****** Object:  StoredProcedure [dbo].[PARTIAL_IS_ITEM_EXISTS]    Script Date: 5.11.2024 17:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[PARTIAL_IS_ITEM_EXISTS]
	@ITEMID INT,
	@RESULT NVARCHAR(50) OUTPUT
AS
--DECLARE @ITEMID INT
--DECLARE @RESULT NVARCHAR(50) 
DECLARE @IS_ITEM_EXIST BIT

SELECT @IS_ITEM_EXIST=CASE WHEN EXISTS(SELECT * FROM Items WHERE Id=@ITEMID) THEN 1 ELSE 0 END

IF(@IS_ITEM_EXIST=1)
BEGIN
	SET @RESULT = 1
END
ELSE 
BEGIN
	SET @RESULT = 0
END
GO
